@import "tailwindcss";

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #155dfc;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: oklch(71.5% 0.143 215.221);
}

*::-webkit-scrollbar-thumb:active {
  background-color: #155dfc;
}